@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*Detalii body*/
body {
  min-height: 100vh;
  background: #212529;
}

.comm-box {
  width: 450px;
  height: 630px;
  position: relative;
  margin: 3% auto;
  border: solid 7px;
  border-color: #48cfad;
  border-radius: 10px;
  background: #fff;
  padding: 5px;
}
.comm-box img {
  width: 25px;
  left: 5px;
  top: 5px;
  cursor: pointer;
}
.comm-box p {
  text-align: center;
  font-size: 20px;
  color: #212529;
  margin-top: 10px;
  margin-bottom: 15px;
}
.comm-form {
  margin-right: 5px;
}
.comm-form input,
.comm-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  border: 1px solid #25a081;
  color: #212529;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.comm-form button {
  width: 50%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #25a081, #48cfad);
  border: 0;
  outline: none;
  border-radius: 30px;
}

button:hover {
  background-color: #25a081;
}
